name: Docker Image CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:

    runs-on: ubuntu-18.04

    steps:
#     - uses: docker/build-push-action@v2
#     - name: Build and Push the Docker image
#       id: docker_build
#       with:
#           push: true
#           tags: user/app:latest
#           secrets: |
#             GIT_AUTH_TOKEN=${{ secrets.DOCKERHUB_SECRET }}
      -
        name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: user/flask_hello_world:latest
          secrets: |
            GIT_AUTH_TOKEN=${{ secrets.DOCKERHUB_SECRET }}

#       run: docker build . --file Dockerfile --tag flask_hello_world:$(date +%s)
